[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "liayson"]
	path = liayson
	url = https://github.com/noemiandor/liayson
	shallow = true
	registered = true
